[connection]
id=Work ipsec
uuid=bd95bd89-2238-4e4f-9683-249bf28e3feb
type=vpn
autoconnect=false
timestamp=1766137135

[vpn]
address={address}
encap=no
ipcomp=no
local-identity={user}
method=eap
proposal=no
remote-identity={address}
user={user}
virtual=yes
service-type=org.freedesktop.NetworkManager.strongswan

[vpn-secrets]
password={password}

[ipv4]
method=auto
never-default=true

[ipv6]
addr-gen-mode=stable-privacy
method=auto

[proxy]